img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
    border:2px solid;
}
.contact{
text-align: center;
font-size:large;
background-color: darkgray;
color: white;
}